body{
  width: 100%;
  margin: 0;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff')
}

a {
    text-decoration: none;
}


header{
    width: 100%;
    background-color: #454F57;
    height: 135px;
}

.header-container{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    height: 135px;
    align-items: center;  
    justify-content: space-around;
    font-size: 1.2rem;
}
.footer-container{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    height: 135px;
    align-items: center;  
    justify-content: space-around;
    font-size: 1.2rem;
}

.telephones-info{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.footer-telephones-info{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;   
}
.container__phone-card:nth-child(2n){
    margin-left: 24px;
}

.logo{
    /* margin-right: 47px; */
    cursor: pointer;
}
.phone-card{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.phone-card a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    /* font-size: 1.2rem; */
    line-height: 140.4%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 16px;
    cursor: pointer;
}

.phone-card img{
   width: 24px;
   height: 24px;
}

.work-time{
    margin-left: 19px;
    display: flex;
    flex-direction: column;
}

.time-container{
    display: flex;
}
.footer-time-container{
    display: flex;
}
.time-container img{
    margin-top: 2px;
}

.header-time{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1.2rem; */
    line-height: 140.4%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.header-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    /* font-size: 1.2rem;   */
    line-height: 140.4%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.time-container img{
    /* margin-left: 61px; */
}

.header-button{
    /* margin-left: 40px; */
    cursor: pointer;
    width: 271px;
    height: 39px;
    background-color: white;
    border-radius: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 20px;
}

section{
    width: 100%;
    height: 620px;
    background-image: url(..//images/background.png);
    /* margin-bottom: 85px; */
}

.container-feedback{
    margin: 0px auto;
    width: 1280px;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.container-feedback-second{
    margin: 0px auto;
    width: 1280px;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.container-feedback__text h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    line-height: 140.4%;
    color: #FFFFFF;

}

.container-feedback__text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    margin-top: 28px;
    
}

.container-feedback__text{
    width: 50%;
}

.feedback{
    background-color: red;
    width: 35%;
    height: 422px;
    background: #E31507;
    border-radius: 30px;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

form input{
    width: 90%;
    height: 50px;
    border-radius: 120px;
    border: 1px solid white;
    background-color: #E31507;
    padding-left: 31px;
    margin-bottom: 26px;
}


input[type="text"]::-webkit-input-placeholder { color: white; }
input[type="text"]:-ms-input-placeholder { color: white; }
input[type="text"]::-ms-input-placeholder { color: white; }
input[type="text"]::placeholder { color: white; } 


input[type="number"]::-webkit-input-placeholder { color: white; }
input[type="number"]:-ms-input-placeholder { color: white; }
input[type="number"]::-ms-input-placeholder { color: white; }
input[type="number"]::placeholder { color: white; } 


form p{
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.feedback-button{
    width: 100%;
    height: 59px;
    background: #FFFFFF;
    text-align: center;
    border-radius: 130px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.advantages-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

    
}
.advantages-title{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 80px;
}
.advantages-list{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-auto-columns: minmax(300px, auto);
        grid-gap: 1.5em;

}
.advantage-title{
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.advantages-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2rem;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1rem;
    min-height: 250px;
    min-width: 270px;
}
.advantages-item img{
    width: 95px;
    height: 100px;
}

footer{
    width: 100%;
    background-color: #454F57;
    height: 135px;
}

.footer-container{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    height: 135px;
    align-items: center;  
    justify-content: space-around;
    font-size: 1.2rem;
}
.created-by{
    display: flex;
    width: auto;
    justify-content: space-between;
    color: white;
    /* font-size: 1.1rem; */
    font-family: 'Montserrat';
    align-items: center;
}
.created-by img{
    width: 32px;
    height: 19px;
    margin-left: 15px;
}

@media(min-width: 1440px){
    .advantages-list{
        width: 1280px;
    }
}
@media(max-width: 1440px){
    .header-container{
        width: 1000px;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        font-size: .9rem;
    }
    .footer-container{
        width: 1000px;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        justify-content: space-around;
        font-size: 1.2rem;
    }
    .header-button {
        cursor: pointer;
        width: 210px;
        height: 39px;
        background-color: white;
        border-radius: 65px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 16px;
        line-height: 19.5px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        padding-top: 20px;
    }
    .work-time{
        margin-left: 12px;
    }
    .container-feedback{
        margin: 0px auto;
        width: 1000px;
        height: 620px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .container-feedback-second{
        margin: 0px auto;
        width: 1000px;
        height: 620px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
    }
    .container-feedback__text h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 2.5rem;
        line-height: 140.4%;
        color: #FFFFFF;
    }
    .footer-container{
        width: 1000px;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        justify-content: space-around;
        font-size: 1.2rem;
    }
}
@media(max-width: 1023px){
    .header-container{
        width: 760px;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        font-size: .8rem;
    }
    .footer-container{
        width: 760px;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        justify-content: space-around;
        font-size: 1rem;
    }
    .header-button {
        cursor: pointer;
        width: 200px;
        height: 39px;
        background-color: white;
        border-radius: 65px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 16px;
        line-height: 19.5px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        padding-top: 20px;
    }
    .time-container{
        display: none;
    }
    .footer-time-container{
        display: flex;
    }
    .work-time{
        margin-left: 12px;
    }
    .feedback{
        background-color: red;
        width: 45%;
        height: 422px;
        background: #E31507;
        border-radius: 30px;
    }
    .container-feedback{
        margin: 0px auto;
        width: 760px;
        height: 620px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .container-feedback-second{
        margin: 0px auto;
        width: 760px;
        height: 620px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
    }
    .container-feedback__text{
        width: 45%;
    }
    .container-feedback__text h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 2rem;
        line-height: 140.4%;
        color: #FFFFFF;
    }
    .footer-container{
        width: 760px;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        justify-content: space-around;
        font-size: 1rem;
    }
}
@media(max-width: 1024px){
.advantages-list{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-auto-columns: minmax(300px, auto);
    grid-gap: 1.5em;

}
}
@media(max-width: 767px){
    .header-container{
        width: 90%;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        font-size: .8rem;
        justify-content: space-between;
    }
    .header-button {
        cursor: pointer;
        width: 200px;
        height: 39px;
        background-color: white;
        border-radius: 65px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 16px;
        line-height: 19.5px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        padding-top: 20px;
    }
    .telephones-info{
        display: none;
    }
    .time-container{
        display: none;
    }
    .feedback{
        background-color: red;
        width: 45%;
        height: 422px;
        background: #E31507;
        border-radius: 30px;
    }
    section{
        width: 100%;
        height: 820px;
        background-image: url(..//images/background.png);
        /* margin-bottom: 85px; */
    }
    .container-feedback{
        margin: 0px auto;
        width: 420px;
        height: 820px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .container-feedback-second{
        margin: 0px auto;
        width: 420px;
        height: 820px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .container-feedback{
        display: flex;
        flex-direction: column;
    }
    .container-feedback__text{
        width: 80%;
    }
    .feedback{
        width: 90%;
    }
    .container-feedback__text h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 2rem;
        line-height: 140.4%;
        color: #FFFFFF;
    }

    .advantages-list{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(250px, auto);
        grid-auto-columns: minmax(300px, auto);
            grid-gap: 1.5em;
    
    }
    .advantages-item{
        font-size: 1rem;
        min-height: 250px;
        min-width: 230px;
    }
    .footer-container{
        width: 100%;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        justify-content: space-around;
        font-size: .8rem;
    }
    .created-by{
        display: none;
    }
    }
@media(max-width: 550px){
    .advantages-list{
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(300px, auto);
        grid-auto-columns: minmax(300px, auto);
            grid-gap: 1.5em;
    
    }
    .footer-container{
        flex-direction: column;
    }
    footer{
        height: 150px;
    }
}
@media(max-width: 425px){
    .header-container{
        width: 95%;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        font-size: .8rem;
        justify-content: space-between;
    }
    .footer-container{
        width: 95%;
        margin: 0px auto;
        display: flex;
        height: 135px;
        align-items: center;  
        justify-content: space-around;
        font-size: 1.2rem;
    }
    .logo{
        width: 100%;
    }
    .header-button {
        cursor: pointer;
        width: 200px;
        height: 34px;
        background-color: white;
        border-radius: 65px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 16px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        padding-top: 20px;
    }
    .telephones-info{
        display: none;
    }
    .footer-telephones-info{

    }
    .time-container{
        display: none;
    }
    section{
        width: 100%;
        height: 820px;
        background-image: url(..//images/background.png);
        /* margin-bottom: 25px; */
    }
    .container-feedback{
        margin: 0px auto;
        width: 100%;
        height: 820px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .container-feedback-second{
        margin: 0px auto;
        width: 100%;
        height: 820px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .container-feedback{
        display: flex;
        flex-direction: column;
    }
    .container-feedback__text{
        width: 80%;
    }
    .feedback{
        width: 90%;
        height: 350px;
    }
    .container-feedback__text h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 1.8rem;
        line-height: 140.4%;
        color: #FFFFFF;
    }
    form p{
        font-size: .8rem;
    }
    form input{
        height: 40px;
    }
    .feedback-button{
        font-size: .8rem;
    }
    .footer-container{
        width: 95%;
        margin: 0px auto;
        display: flex;
        height: 140px;
        align-items: center;  
        justify-content: space-around;
        font-size: .69rem;
    }
}